[[source]]
#url = "https://pypi.org/simple"
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
djangorestframework-yaml = "*"
djangorestframework-xml = "*"
django-filter = "*"
coreapi = "*"
drf-yasg = "*"
django-debug-toolbar = "*"
django = "==3.2.6"
djangorestframework-jwt = "==1.11.0"

[dev-packages]

[requires]
python_version = "3.8"
